<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="css/content.css"> -->
  <script type="module" src="js/Vue.js"></script>
  <script type="module" src="js/app.js"></script>
</head>
<body>
    <div id="app">
        <sup style="float: right;"> {{ conn_status }} </sup>
        <button v-on:click="getPrevChunk">Previous</button>
        <button v-on:click="getNextChunk">Next</button>
        <pre style="width: 70vw; overflow: scroll;"> {{ fetched_data }} </pre>
        <button v-on:click="analyze">Analyze</button>
        <table v-if="show_analysis">
            <table-row
                v-for="row in analysis"
                v-bind:row="row"
                v-bind:key="row.id"
            ></table-row>
        </table>
    </div>
</body>
</html>
